body {
  background-color: #fcf7f8;
}

ul {
  text-align: left;
}

li {
  margin-top: 1%;
  margin-bottom: 0.5%;
  color: black;
}

div .heading {
  text-align: center;
  color: black;
}

div .button {
  text-align: center;
}

div .center {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.input-group {
  margin: 0 auto;
  width: 50%;
}

#button-addon2 {
  background-color: #3454d1;
}

#clear-list {
  background-color: #ed254e;
}
